body {
	background-color: #282c34;
}
.whitet{
	color: #abb2bf;
}
a {
	color: #61aeee;
}
button {
	border-radius: 15%;
	background-color: #282c34;
	color: #abb2bf;
	width: 100%;
	height: 10%;
	font-size: 1.5em;
	border: 2px solid #3d537a;
	outline: none;
	cursor: pointer;
	/* make a nice looking button */
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	
}

.plain,
.text {
	flex: 1 0 20rem;
	width: 90%;
	position: relative;
	color: white;
}

[data-el="input"] {
	border-width: 1px;
	background: #282c34;
	white-space: break-spaces;
	word-break: keep-all;
	resize: both;
	color: white;
	width: 90%;
	height: 50%;
	caret-color: white;
}

[data-el="input"][data-initialized="true"] {
	color: transparent;
	resize: none;
	overflow: hidden;
}

[data-el="highlight"] {
	font-family: inherit;
	line-height: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	color: white;
	white-space: break-spaces;
	word-break: break-word;
}

.plain__highlights {
	position: absolute;
	top: 0;
	color: transparent;
	left: 0;
	width: 90%;
	border: 1px solid transparent;
	pointer-events: none;
}

.plain__editor, .plain__highlights {
	width: 90%;
	color: transparent;
	font-size: 1.1rem;
	font-family: monospace;
	margin: 0;
	padding: 0.7rem 1.4ch;
	line-height: 1.313;
}
