body {
	background-color: #282c34;
}

.plain,
.text {
	flex: 1 0 20rem;
	width: 90%;
	position: relative;
	color: white;
}

[data-el="input"] {
	border-width: 1px;
	background: #282c34;
	white-space: break-spaces;
	word-break: keep-all;
	resize: both;
	color: white;
	width: 90%;
	height: 50%;
	caret-color: white;
}

[data-el="input"][data-initialized="true"] {
	color: transparent;
	resize: none;
	overflow: hidden;
}

[data-el="highlight"] {
	font-family: inherit;
	line-height: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	color: white;
	white-space: break-spaces;
	word-break: break-word;
}

.plain__highlights {
	position: absolute;
	top: 0;
	color: transparent;
	left: 0;
	width: 90%;
	border: 1px solid transparent;
	pointer-events: none;
}

.plain__editor, .plain__highlights {
	width: 90%;
	color: transparent;
	font-size: 1.1rem;
	font-family: monospace;
	margin: 0;
	padding: 0.7rem 1.4ch;
	line-height: 1.313;
}
